{% if title is not empty %}
	<h2>{{ title }}</h2>
{% endif %}
<div class="progress" id="{{ id }}">
	<div class="progress-bar{% if class %} {{ class }}{% endif %}" role="progressbar" aria-valuenow="{{ start_value }}" aria-valuemin="{{ min_value }}" aria-valuemax="{{ total }}">
		<span>0 %</span>
	</div>
</div>
<script>
	$(window).on('load', function(){
		var length = {{ total }};
		var	limit = {{ limit }};
		makeRequest({{ start }}, limit, '{{ dataset }}');
	});
	function updateProgressBar(id, value) {
		var total = {{ total }};
		var width = (100 * value / total);
		$('#' + id + ' .progress-bar')
			.attr('style', 'width:' + width + '%')
			.find('span').html(width.toFixed(2) + ' %');

	}
	function closeProgressBar(id, i = 0, total = 0) {
		var width = 100,
				msg = 'No items to update or import';
		if(total != 0) {
			msg = "Finished. Processed " + i + " from " + total;
		}
		$('#' + id + ' .progress-bar')
				.attr('style', 'width:' + width + '%')
				.find('span').html(msg);
	}
	function makeRequest(start, limit, dataset) {
		console.log('start = ', start);
		if( {{ total }} <= start ) {
			updateProgressBar('{{ id }}', {{ total }});
			console.log('Finish');
			{% if redirect %}
				window.location.href = "{{ redirect }}";
			{% endif %}
			return;
		}
		$.ajax({
			url: '{{ processor_url }}',
			type: "GET",
			data: {dataset: dataset, start: start, limit: limit},
			success: function(data) {
				if(typeof data != 'object') {
					console.log(data.substring(0, data.indexOf('{')));
					data = data.substring(data.indexOf('{'));
					var Data = JSON.parse(data);
				}
				else {
					var Data = data;
				}

				if(Data.i != 0 && Data.i != undefined && Data.i != Data.total) {
					updateProgressBar('{{ id }}', Data.i);
					makeRequest(Data.i, limit, dataset);
				}
				else {
					closeProgressBar('{{ id }}', Data.i, Data.total);
				}
			},
		})
	}
</script>